.input-task {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
}

.data-input__text {
    flex-grow: 3;
}

.data-input__date {
    flex-grow: 2;
}

.data-input__button {
    flex-grow: 1;
}

.task-item__sort {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid blueviolet;
    border-radius: 10px;
}

.task-item__filter {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid green;
    border-radius: 10px;
}

.input-text__filter {
    flex-grow: 1;
}

.input-date__filter {
    flex-grow: 1;
}