.task {
    background-color: tan;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9px;
    padding: 15px;
    align-items: baseline;
    border-radius: 10px;
}

.single-todo__text {
    margin: 10px;
    padding: 10px;
    justify-content: left;
    flex-grow: 3;
}

.single-todo__date {
    margin: 10px;
    padding: 10px;
    justify-content: right;
    flex-grow: 2;
}

.single-todo__check {
    display: flex;
    position: relative;
    margin: 10px;
    padding: 10px;
    justify-content: left;
    flex-grow: 1;
}

.single-todo__destroy-button {}

.todo-item__checked {
    position: relative;
}

.todo-item__checked :after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    left: 90px;
    right: 100px;

    top: 48%;
    background-color: red;
    align-items: baseline;
}